---
---

@import utils, basic, layout, classes, rouge_github

body
  padding: 10px
  margin: 0
  background: #000080
  background-repeat: repeat
  background-size: 200px 200px
  background-attachment: fixed
  @media (min-width: 60em)
    padding: 20px 15%

body > *
  background: #C0C0C0
  color: #000000
  padding: 10px
  border: 4px outset #FFFFFF
  box-shadow: 4px 4px 0px #000000
  margin-bottom: 15px
  overflow-x: hidden
  word-wrap: break-word
  @media (min-width: 60em)
    padding: 20px

body > header, body > footer
  background: #000080
  color: #FFFFFF
  border: 4px outset #C0C0C0

body > header a, body > footer a
  color: #FFFF00

header h1
  font-size: 18pt
  margin: 0
  padding: 5px
  background: linear-gradient(to right, #000080, #1084d0)
  color: white
  border-bottom: 2px solid #000
  @media (min-width: 60em)
    font-size: 24pt

{% if site.show_frame contains "." %}

@media (min-width: 60em)
  body
    background: #000080
    background-repeat: repeat
    background-size: 200px 200px
    background-attachment: fixed
    color-scheme: only light
    padding: 1em calc(38% - 22rem)
    > :first-child
      border-radius: 4px 4px 0 0
    > :last-child
      border-radius: 0 0 4px 4px

{% endif %}
