---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

// https://kld.dev/building-table-of-contents/
const { headings } = Astro.props;
const toc = buildToc(headings);

export interface Heading {
  depth: number;
  slug: string;
  text: string;
}

function buildToc(headings: Heading[]) {
  const toc: any[] = [];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    
    // Clear any deeper headings from the map when we find a shallower one
    // to ensure subheadings are correctly nested under the current branch.
    for (let d = heading.depth + 1; d <= 10; d++) {
      parentHeadings.delete(d);
    }
    
    parentHeadings.set(heading.depth, heading);

    // Find the nearest ancestor
    let parent = null;
    for (let d = heading.depth - 1; d >= 1; d--) {
      if (parentHeadings.has(d)) {
        parent = parentHeadings.get(d);
        break;
      }
    }

    if (parent) {
      parent.subheadings.push(heading);
    } else {
      toc.push(heading);
    }
  });
  return toc;
}
---

<details
  open
  class="animate group rounded-lg border border-black/15 dark:border-white/20"
>
  <summary
    class="cursor-pointer rounded-t-lg px-3 py-1.5 font-medium transition-colors group-open:bg-black/5 hover:bg-black/5 dark:group-open:bg-white/5 hover:dark:bg-white/5"
    >Table of Contents</summary
  >
  <nav>
    <ul class="py-3">
      {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ul>
  </nav>
</details>
